// 背景
@mixin bg($url, $left: 100%, $top: 100%) {
  background: {
    image: url($url);
    repeat: no-repeat;
    size: $left $top;
  }
}
// 字体
@mixin font($size, $lineHeight: $size, $color: #fff) {
  font-size: $size + rem;
  line-height: $lineHeight + rem;
  color: $color;
}

